:root {

    --header-color: #2c3741;
    --main-color: #1e2d3b;
    --bg-transparent: transparent;
    --color-black: black;
    --color-dark: #333;
    --color-lightdark: #666;
    --color-lightgrey: lightgrey;
    --color-white: white;
    --color-red: red;
}